
<li class="media">
  <img class="media-object pull-left" src="{{ coverArt }}" style="width: 75px;"/>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="/{{ album }}" class="album-link" data-cid="{{ album }}" data-behave="append" data-link="client">{{ album }}</a>
    </h4>
  </div>
</li>
