<li class="media">
  <img class="media-object pull-left" src="{{ coverArt }}" style="width: 75px;"/>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="#" class="media-link" data-cid="{{ _id }}">{{ title }}</a>
    </h4>
    {{ length }}
  </div>
</li>
 