.btn-xl {
  padding: 10px 16px;
  font-size: 21px;
  line-height: 1.33;
  border-radius: 6px;
}
#NowPlayingPanel {
  background-color: #eeeeee;
  border: 1px solid #e7e7e7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#NowPlayingPanel .sliders {
  position: relative;
  height: 15px;
}
#NowPlayingPanel .sliders .m-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#NowPlayingPanel .sliders .media-buffer {
  background-color: white;
}
#NowPlayingPanel .sliders .media-buffer .m-slider-range {
  background-color: #eeeeee;
}
.image-grid {
  overflow: hidden;
  position: relative;
  background-color: #bababa;
}
.image-grid .image-sm {
  position: absolute;
  width: 50%;
}
.image-grid .image-sm:first-child {
  right: 0;
}
.image-grid .image-sm:nth-child(2) {
  bottom: 0;
  right: 0;
}
.image-grid img {
  min-height: 1px;
  width: 100%;
}
.m-slider {
  position: relative;
  border: 1px solid black;
  height: 15px;
}
.m-slider .m-slider-range {
  background-color: #808080;
  height: 13px;
}
.m-slider .m-slider-range,
.m-slider .m-slider-thumb {
  position: absolute;
  left: 0;
  top: 0;
}
.m-slider .m-slider-thumb {
  width: 16px;
  height: 15px;
  margin-left: -8px;
  background-color: black;
}
/*body {
    background-color: #33424b;
}*/
