
{{#each models }}
<div class="container">
  <strong class="nav-header">{{ index }}</strong>
	{{#rows artists 4 }}
      {{#each items }}
        <div class="col-sm-3">
          {{> imageGrid }}
          <a href="/artists/{{ _id }}" class="artist-link" data-id="{{ _id }}" data-link="client">{{ _id }}</a>
        </div>
      {{/each}}
  {{/rows}}
</div>
{{/each}}
