.image-grid {
  overflow: hidden;
  position: relative;
  background-color: #bababa;
}
.image-grid .image-sm {
  position: absolute;
  width: 50%;
}
.image-grid .image-sm:first-child {
  right: 0;
}
.image-grid .image-sm:nth-child(2) {
  bottom: 0;
  right: 0;
}
.image-grid img {
  min-height: 1px;
  width: 100%;
}
/*body {
    background-color: #33424b;
}*/
