<div class="pull-left media-object">
  <a href="#" class="btn btn-default play-btn">PLAY</a>
  <a href="#" class="btn btn-default pause-btn">Pause</a>
  <a href="#" class="btn btn-default next-btn">Skip</a>
  <a href="#" class="btn btn-default prev-btn">Back</a>
</div>

<div class="media-body">
  <h5 class="media-heading">A title here</h5>
  <div class="sliders">
    <div class="media-buffer"></div>
    <div class="media-scrubber"></div>
  </div>
</div>